.containCheck {
    
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 60px;
    grid-column-gap: 10px;
    
}
img {
    object-fit: cover;

}

.ods{
    height: 100%;
    display: grid;
    width: 100%;
    color: black;
    font-size: 1.5rem;
    opacity: 0;
    
    

}
.check{
    opacity: 1;
}

.listodscheck{
    border:gray solid 2px;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    margin: 0px;
    padding: 0;
    background: rgba(128, 128, 128, 0.172);
    
   

}

.zonaProyectConteincheck{
    background-color: rgb(253, 253, 253);
    display: grid; 
    grid-template-columns: 150px 150px;
    grid-template-rows: 60px;
    width: auto;
    margin: 0;
    
    border: rgba(128, 128, 128, 0.879) solid 2px;
   
}




.zone{
    display: grid;
    height: 50px;
    
    font-size: 9px;    
}
.proyect{
    font-size: 9px;
    height: auto;
    width: auto;
    
    border: rgba(128, 128, 128, 0.575);
}



.n1 {
    
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #e5233d;
    border:black solid 3px;    
    
    
}
.n2 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #d09f2d ;
    
    
    
    
}
.n3 {
    
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #279b48;
    
    
    
    
}

.n4 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #c42738;
    
    
    
    
}
.n5 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #ed422b;
    
    
    
    
}

.n6 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #00acd8;
    
    
    
    
}

.n7 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #fdb713;
    
    
    
    
}

.n8 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #8f1838;
    
    
    
    
}
.n9 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #f36d25;
    
    
    
    
}
.n10 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color:#de1c84;
    
    
    
    
}
.n11 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #f79c26;
    
    
    
    
}
.n12 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #cd8c2e;
    
    
    
    
}
.n13 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #507a47;
    
    
    
    
}
.n14 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #007dbc;
    
    
    
    
}
.n15 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #3bae4a;
    
    
    
    
}
.n16 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #00578b;
    
    
    
    
}
.n17 {
    display: grid;
    align-items: center; 
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #14496b;
   
    
    
    
}
