.modal{
    background-color: rgba(0, 0, 0, .85);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    
}

.alerta{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 80%;
    height: 90%;
    animation-name: animacionDesplegable;
    animation-duration: 1s;
    position: relative;
    animation-timing-function: ease;
}
@keyframes animacionDesplegable {
    0%{opacity: 0; top: -20px; left:-20px}
    100%{opacity: 1; top: 0px; left: 0px}
    
}
.modal-open{
    
    display: flex;
    
}