.headerContainer{
    background-color: rgb(0, 0, 0);
    padding: 3px;
    margin: 0;
    height: auto;
    border-bottom:   solid white 3px;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 40px 20px;
    grid-row-gap: 10px;
    
}

.title{
    grid-column: 1/4;
    font-size: 30px;
    color: aliceblue;
    margin-left: 320px;
    grid-column-start: 1;

    
    
}

.logo{
    display: grid;
    width: auto;
    
    grid-column-start: 4;

}
.select{
    grid-column-start: 4;
}